body {
    background-color: #3e3e3e;
}

.bodyText{
    color:gainsboro;
}

.bodyHeader{
    color:ghostwhite;
}

.viz {
    position: relative;
}

.stationText{
    font-size: 70%;
}

.introText{
    font-size: 150%;
}


@media screen and (min-width: 300px){

    .introViz{
        position:relative;
        height:100vh;
    }

    .barStacked{
        position:relative;
        width: 90%;
        height: 90%;
        left: 5%;

    }    

    .viz{
        position: relative;
        height:100vh;
    }

    #selectDes{
        position: absolute;
        right:9%;
        top:5%;
        font-size:75%;
        width: 20%;
        height: 10%;
        display:inline-table;

    }

    #selectData{
        position: absolute;
        left:0px;
        width:15%;
        top:5%;
        height: 10%;
        font-size:75%;
        display:inline-table;

    }

    #selectStation{
        position: absolute;
        left:0px;
        width:30%;
        top:12%;
        height: 10%;
        font-size:75%;
    }

    #chooseStation{
        position: relative;
        left:90%;
        bottom:30%;

    }

    .slider-container {
        display: None;
    }
    
    .rangeInput {
        display:None;
    }

    .radiobutton1-container{
        position: absolute;
        left:70%;
        top:21%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;
        display: inline;

    }
    
    
    .chart2-container{
        width: 90vw;
        height:100%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:80vh;
        padding-top: 1%;
        top:16%;
        left:0px;
    }
    
    .narrativeText{
        position: relative;
        left:0vh;
        top:87%;
        width: 50vh;
        text-align: justify;
        font-size: 68%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: relative;
        left:0px;
        width:68%;
        top:10%;
        font-size:70%;
        
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;
    }


    #forwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        bottom:38%;
        display: unset;
    }

    #backwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        top: 40%;
        display: unset;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 90%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}

@media screen and (min-width: 374px){

    .introViz{
        position:relative;
        height:100vh;
    }

    .barStacked{
        position:relative;
        width: 90%;
        height: 90%;
        left: 10%;

    }    

    .viz{
        position: relative;
        height:100vh;
    }

    #selectDes{
        position: absolute;
        right:15%;
        top:5%;
        font-size:80%;
        width: 20%;
        height: 10%;

    }

    #selectData{
        position: absolute;
        left:0px;
        width:20%;
        top:5%;
        height: 10%;
        font-size:80%;

    }

    #selectStation{
        position: absolute;
        left:0px;
        width:30%;
        top:12%;
        height: 10%;
        font-size:75%;
    }

    #chooseStation{
        position: relative;
        left:80%;
        bottom:27%;

    }


    .slider-container {
        display: None;
    }
    
    .rangeInput {
        display:None;
    }

    .radiobutton1-container{
        position: absolute;
        left:70%;
        top:21%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;

    }
    
    
    .chart2-container{
        width: 90vw;
        height:100%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:80vh;
        padding-top: 1%;
        top:15%;
        left:0px;
    }
    
    .narrativeText{
        position: relative;
        left:0vh;
        top:86%;
        width: 100%;
        text-align: justify;
        font-size: 72%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: relative;
        left:0px;
        width:68%;
        top:12%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        
    }

    #forwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        bottom:42%;
        display: unset;
    }

    #backwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        top: 44%;
        display: unset;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 90%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}

@media screen and (min-width: 374px) and (min-height: 800px){

    .introViz{
        position:relative;
        height:100vh;
    }

    .barStacked{
        position:relative;
        width: 90%;
        height: 90%;
        left: 10%;

    }    

    .viz{
        position: relative;
        height:100vh;
    }

    #selectDes{
        position: absolute;
        right:15%;
        top:5%;
        font-size:80%;
        width: 20%;
        height: 10%;

    }

    #selectData{
        position: absolute;
        left:0px;
        width:10%;
        top:5%;
        height: 5%;
        font-size:80%;
    }

    #selectStation{
        position: absolute;
        left:0px;
        width:30%;
        top:12%;
        height: 10%;
        font-size:75%;
    }

    #chooseStation{
        position: relative;
        left:80%;
        bottom:24%;

    }

    .slider-container {
        display: None;
    }
    
    .rangeInput {
        display:None;
    }

    .radiobutton1-container{
        position: absolute;
        left:70%;
        top:21%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;

    }
    
    
    .chart2-container{
        width: 90vw;
        height:100%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:70vh;
        padding-top: 1%;
        top:15%;
        left:0px;
    }
    
    .narrativeText{
        position: relative;
        left:0vh;
        top:78%;
        width: 100%;
        text-align: justify;
        font-size: 90%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: relative;
        left:0px;
        width:68%;
        top:12%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        
    }

    #forwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        bottom:45%;
        display: unset;
    }

    #backwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        top: 36%;
        display: unset;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 90%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}

@media screen and (min-width: 400px){

    .introViz{
        position:relative;
        height:100vh;
    }

    .barStacked{
        position:relative;
        width: 90%;
        height: 90%;
        left: 10%;

    }    

    .viz{
        position: relative;
        height:100vh;
    }

    #selectDes{
        position: absolute;
        right:15%;
        top:5%;
        font-size:80%;
        width: 20%;
        height: 10%;

    }

    #selectData{
        position: absolute;
        left:0px;
        width:20%;
        top:5%;
        height: 10%;
        font-size:80%;

    }

    #selectStation{
        position: absolute;
        left:0px;
        width:30%;
        top:12%;
        height: 10%;
        font-size:75%;
    }

    #chooseStation{
        position: relative;
        left:80%;
        bottom:25%;

    }

    .slider-container {
        display: None;
    }
    
    .rangeInput {
        display:None;
    }

    .radiobutton1-container{
        position: absolute;
        left:70%;
        top:21%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;

    }
    
    
    .chart2-container{
        width: 90vw;
        height:100%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:80vh;
        padding-top: 1%;
        top:15%;
        left:0px;
    }
    
    .narrativeText{
        position: relative;
        left:0vh;
        top:87%;
        width: 100%;
        text-align: justify;
        font-size: 78%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: relative;
        left:0px;
        width:68%;
        top:10%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        
    }

    #forwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        bottom:40%;
        display: unset;
    }

    #backwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        top: 42%;
        display: unset;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 90%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}

@media screen and (min-width: 800px) and (min-height:600px){

    .introViz{
        position:relative;
        height:100vh;
    }

    .barStacked{
        position:relative;
        width: 90%;
        height: 90%;
        left: 10%;

    }    
    .viz{
        position: relative;
        height:100vh;
    }

    #selectDes{
        position: absolute;
        left:115%;
        top:1%;
        font-size:80%;
        width: 15%;
        height: 10%;

    }

    #selectData{
        position: absolute;
        left:0px;
        width:15%;
        top:0%;
        height: 10%;
        font-size:80%;

    }

    #selectStation{
        position: absolute;
        left:0px;
        width:30%;
        top:12%;
        height: 10%;
        font-size:75%;
    }

    #chooseStation{
        position: relative;
        left:60%;
        bottom:27%;

    }


    .slider-container {
        position: absolute;
        width: 10%;
        height: 130%;
        padding-bottom: 0px;
        right:5%;
        top:0%;
        display: unset;
    }

    #playButton{
        position: absolute;
        top:15%;
        right: 75%;
    }
    
    .rangeInput {
        position: relative;
        transform: rotate(-270deg);
        width:500%;
        top:350px;
        right: 200px;
        display: flex;
        justify-content: center;
    }

    .radiobutton1-container{
        position: relative;
        left:120%;
        top:6%;
        font-size:70%;
        width: 20%;
        height: 10%;
    }

    .chart1radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;

    }
    
    .chart2-container{
        width: 60%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 80%;
        height:110%;
        padding-top: 1%;
        top:0%;
        left:40%;
    }
    
    .narrativeText{
        position: relative;
        left:5%;
        top:45%;
        width: 35%;
        text-align: justify;
        font-size: 70%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: absolute;
        left:0px;
        width:68%;
        top:6%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;
        
    }

    #forwardB{
        display:None;
    }

    #backwardB{
        display:None;
        
    }
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 85%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }

}

@media screen and (min-width: 1020px) {

    .introViz{
        position:relative;
        height:100vh;
    }

    .barStacked{
        position:relative;
        width: 90%;
        height: 90%;
        left: 10%;

    }    

    .viz{
        position: relative;
        height:100vh;
    }

    #selectDes{
        position: absolute;
        left:105%;
        top:1%;
        font-size:100%;
        width: 15%;
        height: 10%;

    }

    #selectData{
        position: absolute;
        left:0px;
        width:15%;
        top:0%;
        height: 10%;
        font-size:100%;

    }

    #selectStation{
        position: absolute;
        left:0px;
        width:30%;
        top:12%;
        height: 10%;
        font-size:100%;
    }

    #chooseStation{
        position: relative;
        left:0%;
        bottom:0%;

    }


    .slider-container {
        position: absolute;
        width: 10%;
        height: 130%;
        padding-bottom: 0px;
        right:5%;
        top:10%;
        display: unset;
    }

    #playButton{
        position: absolute;
        top:5%;
        right: 25%;
    }
    
    .rangeInput {
        position: relative;
        transform: rotate(-270deg);
        width:500%;
        top:350px;
        right: 200px;
        display: flex;
        justify-content: center;
    }

    .radiobutton1-container{
        position: relative;
        left:110%;
        top:6%;
        font-size:70%;
        width: 15%;
        height: 10%;
    }

    .chart1radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;

    }
    
    .chart2-container{
        width: 65%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 80%;
        height:110%;
        padding-top: 1%;
        top:0%;
        left:30%;
    }
    
    .narrativeText{
        position: relative;
        left:0%;
        top:45%;
        width: 35%;
        text-align: justify;
        font-size: 90%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: absolute;
        left:0px;
        width:68%;
        top:6%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;
        
    }

    #forwardB{
        display:None;
    }

    #backwardB{
        display:None;
        
    }
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 85%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }

}

@media screen and (min-width: 1300px) and (min-height: 765px) {

    .introViz{
        position:relative;
        height:100vh;
    }

    .barStacked{
        position:relative;
        width: 90%;
        height: 90%;
        left: 10%;

    }    

    .viz{
        position: relative;
        height:100vh;
    }


    .slider-container {
        position: absolute;
        width: 10%;
        height: 130%;
        padding-bottom: 0px;
        right:5%;
        top:10%;
        display: unset;
    }

    #playButton{
        position: absolute;
        top:5%;
        right: 25%;
    }
    
    .rangeInput {
        position: relative;
        transform: rotate(-270deg);
        width:500%;
        top:350px;
        right: 200px;
        display: flex;
        justify-content: center;
    }

    #selectDes{
        position: absolute;
        left:102%;
        top:1%;
        font-size:100%;
        width: 15%;
        height: 10%;

    }

    #selectData{
        position: absolute;
        left:0px;
        width:15%;
        top:0%;
        height: 10%;
        font-size:100%;

    }

    #selectStation{
        position: absolute;
        left:0px;
        width:30%;
        top:7%;
        height: 10%;
        font-size:65%;
    }

    #chooseStation{
        position: relative;
        left:0%;
        bottom:0%;

    }


    .radiobutton1-container{
        position: relative;
        left:110%;
        top:7%;
        font-size:70%;
        width: 15%;
        height: 10%;
    }

    .chart1radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;

    }
    
    .chart2-container{
        width: 70%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 75%;
        height:110%;
        padding-top: 1%;
        top:0%;
        left:30%;
    }
    
    .narrativeText{
        position: relative;
        left:0%;
        top:45%;
        width: 35%;
        text-align: justify;
        font-size: 90%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: absolute;
        left:0px;
        width:68%;
        top:8%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;
        
    }

    #forwardB{
        display:None;
    }

    #backwardB{
        display:None;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 85%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }

}
@media screen and (min-width: 1300px) and (min-height: 1023px) {


    .introViz{
        position:relative;
        height:100vh;
    }

    .barStacked{
        position:relative;
        width: 90%;
        height: 90%;
        left: 10%;

    }    

    .viz{
        position: relative;
        height:100vh;
    }

    #selectDes{
        position: absolute;
        left:102%;
        top:1%;
        font-size:100%;
        width: 15%;
        height: 10%;

    }

    #selectData{
        position: absolute;
        left:0px;
        width:15%;
        top:0%;
        height: 10%;
        font-size:100%;

    }

    #selectStation{
        position: absolute;
        left:0px;
        width:30%;
        top:5%;
        height: 10%;
        font-size:100%;
    }

    #chooseStation{
        position: relative;
        left:0%;
        bottom:0%;

    }

    .slider-container {
        position: absolute;
        width: 10%;
        height: 130%;
        padding-bottom: 0px;
        right:5%;
        top:20%;
        display: unset;
    }

    #playButton{
        position: absolute;
        top:5%;
        right: 25%;
    }
    
    .rangeInput {
        position: relative;
        transform: rotate(-270deg);
        width:500%;
        top:350px;
        right: 200px;
        display: flex;
        justify-content: center;
    }

    .radiobutton1-container{
        position: relative;
        left:95%;
        top:12%;
        font-size:70%;
        width: 15%;
        height: 10%;
    }

    .chart1radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;

    }
    
    .chart2-container{
        width: 85%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 70%;
        height:110%;
        padding-top: 1%;
        top:0%;
        left:25%;
    }
    
    .narrativeText{
        position: relative;
        left:0%;
        top:45%;
        width: 30%;
        text-align: justify;
        font-size: 90%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: absolute;
        right:150%;
        width:68%;
        top:12%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;
        
    }

    #forwardB{
        display:None;
    }

    #backwardB{
        display:None;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 85%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }

}









