body {
    background-color: #3e3e3e;
}

.bodyText{
    color:gainsboro;
}

.bodyHeader{
    color:ghostwhite;
}

.viz {
    position: relative;
}


.radiobutton1-container{
    position: absolute;
    left:50%;
    top:4%;
}


.chart2-container{
    width: 100%;
    height:100%;
    padding-top: 2%;
    position: relative; 
  
}

.chart2 {
    position: relative;
    width: 65%;
    top:0px;
    left:0px;
}

.narrativeText{
    position: absolute;
    left:70%;
    bottom:35%;
    width: 25%;
    text-align: justify;
    font-size: 90%;
    color: "#000";

}

.radiobutton2-container{
    position: relative;
    left:0px;
    top:0px;
}

.chart2Radio{
    position: relative;
    margin: 0 10px 0 10px;
}


.stepper-container {
    position: absolute;
    transform: rotate(-270deg);
    width: 10%;
    height: 10%;
    left:60%;
    bottom: 40%;
}

.stepper{
    position: relative;
    justify-content: center;
}

.stationText{
    font-size: 70%;
}


@media screen and (max-width: 481px){

    .viz{
        position: relative;
        height:568px;
    }

    .radiobutton1-container{
        position: absolute;
        left:70%;
        top:21%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;

    }
    
    
    .chart2-container{
        width: 100%;
        height:100%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:80%;
        padding-top: 1%;
        top:30%;
        left:0px;
    }
    
    .narrativeText{
        position: relative;
        left:0%;
        top:82%;
        width: 97%;
        text-align: justify;
        font-size: 52%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: relative;
        left:0px;
        width:68%;
        top:10%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        
    }

    #forwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        bottom:25%;
    }

    #backwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        top: 56%;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 70%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}

