body {
    background-color: #3e3e3e;
}

.viz {
    position: relative;
}


.chart1-container{
    width: 100%;
    padding-top: 10%;
    padding-bottom: 2%;
    position: relative; 
  
}
.chart1 {
    position: relative;
    width:100%; 
    top:0px;
    left:0px;
}

.radiobutton1-container{
    position: relative;
    left:0%;
    bottom:0px;
}


.chart2-container{
    width: 100%;
    padding-top: 2%;
    position: relative; 
  
}

.chart2 {
    position: relative;
    width: 100%;
    top:0px;
    left:0px;
}

.radiobutton2-container{
    position: relative;
    left:0%;
    bottom:0px;
}

.chart2Radio{
    position: relative;
    margin: 0 10px 0 10px;
}


.slider-container {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

.rangeInput {
    width: 89%;
    margin: auto;
}

.stationText{
    font-size: 70%;
}
