body {
    background-color: #3e3e3e;
}

.bodyText{
    color:gainsboro;
}

.bodyHeader{
    color:ghostwhite;
}

.viz {
    position: relative;
}


.chart1-container{
    width: 25%;
    height: 90%;
    position: absolute; 
    bottom: 0%;
    left:65%;
  
}
.chart1 {
    position: relative;
    width:100%;
    top:20px;
    left:0px;
}

.radiobutton1-container{
    position: relative;
    left:0%;
    bottom:0px;
}


.chart2-container{
    width: 48%;
    padding-top: 2%;
    position: relative; 
  
}

.chart2 {
    position: relative;
    width: 130%;
    top:0px;
    left:0px;
}

.narrativeText{
    position: absolute;
    left:80%;
    top:60%;
    width: 55%;
    text-align: justify;
    font-size: 90%;
    color: "#000";

}

.radiobutton2-container{
    position: relative;
    left:0px;
    top:0px;
}

.chart2Radio{
    position: relative;
    margin: 0 10px 0 10px;
}


.slider-container {
    position: absolute;
    width: 10%;
    height: 100%;
    padding-bottom: 0px;
    right:30px;
}

.rangeInput {
    position: relative;
    transform: rotate(-270deg);
    width:500%;
    top:350px;
    right: 200px;
    display: flex;
    justify-content: center;
}
.animation {
    position:relative;
    top:100px;
    left: 10px;
}

.stationText{
    font-size: 70%;
}
