body {
    background-color: #3e3e3e;
}

.bodyText{
    color:gainsboro;
}

.bodyHeader{
    color:ghostwhite;
}

.viz {
    position: relative;
}

.stationText{
    font-size: 70%;
}


@media screen and (min-width: 300px){

    .viz{
        position: relative;
        height:100vh;
    }

    .slider-container {
        display: None;
    }
    
    .rangeInput {
        display:None;
    }

    .radiobutton1-container{
        position: absolute;
        left:70%;
        top:21%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;
        display: inline;

    }
    
    
    .chart2-container{
        width: 90vw;
        height:100%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:80vh;
        padding-top: 1%;
        top:30%;
        left:0px;
    }
    
    .narrativeText{
        position: relative;
        left:0vh;
        top:84vh;
        width: 50vh;
        text-align: justify;
        font-size: 52%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: relative;
        left:0px;
        width:68%;
        top:10%;
        font-size:70%;
        
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: inline;
    }


    #forwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        bottom:25%;
        display: unset;
    }

    #backwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        top: 56%;
        display: unset;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 70%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}

@media screen and (min-width: 374px){

    .viz{
        position: relative;
        height:100vh;
    }

    .slider-container {
        display: None;
    }
    
    .rangeInput {
        display:None;
    }

    .radiobutton1-container{
        position: absolute;
        left:70%;
        top:21%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;

    }
    
    
    .chart2-container{
        width: 90vw;
        height:100%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:80vh;
        padding-top: 1%;
        top:30%;
        left:0px;
    }
    
    .narrativeText{
        position: relative;
        left:0vh;
        top:86vh;
        width: 100%;
        text-align: justify;
        font-size: 52%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: relative;
        left:0px;
        width:68%;
        top:10%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        
    }

    #forwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        bottom:25%;
        display: unset;
    }

    #backwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        top: 56%;
        display: unset;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 70%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}

@media screen and (min-width: 400px){

    .viz{
        position: relative;
        height:100vh;
    }

    .slider-container {
        display: None;
    }
    
    .rangeInput {
        display:None;
    }

    .radiobutton1-container{
        position: absolute;
        left:70%;
        top:21%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;

    }
    
    
    .chart2-container{
        width: 90vw;
        height:100%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:80vh;
        padding-top: 1%;
        top:30%;
        left:0px;
    }
    
    .narrativeText{
        position: relative;
        left:0vh;
        top:88vh;
        width: 100%;
        text-align: justify;
        font-size: 52%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: relative;
        left:0px;
        width:68%;
        top:10%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        
    }

    #forwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        bottom:25%;
        display: unset;
    }

    #backwardB{
        position: absolute;
        transform: rotate(-270deg);
        left: 92%;
        top: 56%;
        display: unset;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 70%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}

@media screen and (min-width: 1020px){

    .viz{
        position: relative;
        height:100vh;
    }


    .slider-container {
        position: absolute;
        width: 10%;
        height: 100%;
        padding-bottom: 0px;
        right:0%;
        display: unset;
    }

    #playButton{
        position: absolute;
        top:5%;
        right: 25%;
    }
    
    .rangeInput {
        position: relative;
        transform: rotate(-270deg);
        width:500%;
        top:350px;
        right: 200px;
        display: flex;
        justify-content: center;
    }

    .radiobutton1-container{
        position: absolute;
        left:140%;
        top:2%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;
        display: block;
        orientation: horizontal;

    }
    
    .chart2-container{
        width: 50vw;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 100%;
        height:100%;
        padding-top: 1%;
        top:10%;
        left:60%;
    }
    
    .narrativeText{
        position: relative;
        left:5%;
        top:45vh;
        width: 50%;
        text-align: justify;
        font-size: 100%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: absolute;
        left:0px;
        width:68%;
        top:10%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: block;
        orientation: vertical;
        
    }

    #forwardB{
        display:None;
    }

    #backwardB{
        display:None;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 70%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }


}

@media screen and (min-width: 1300px) {

    .viz{
        position: relative;
        height:100vh;
    }


    .slider-container {
        position: absolute;
        width: 10%;
        height: 130%;
        padding-bottom: 0px;
        right:5%;
        top:10%;
        display: unset;
    }

    #playButton{
        position: absolute;
        top:5%;
        right: 25%;
    }
    
    .rangeInput {
        position: relative;
        transform: rotate(-270deg);
        width:500%;
        top:350px;
        right: 200px;
        display: flex;
        justify-content: center;
    }

    .radiobutton1-container{
        position: relative;
        left:120%;
        top:0%;
        font-size:70%;
    }

    .chart1radio{
        position: relative;
        margin: 3% 1% 2% 1%;
        display: block;
        orientation: horizontal;

    }
    
    .chart2-container{
        width: 70%;
        padding-top: 2%;
        position: relative; 
      
    }
    
    .chart2 {
        position: absolute;
        width: 85%;
        height:110%;
        padding-top: 1%;
        top:0%;
        left:30%;
    }
    
    .narrativeText{
        position: relative;
        left:0%;
        top:45%;
        width: 35%;
        text-align: justify;
        font-size: 90%;
        color: "#000";
    
    }
    
    .radiobutton2-container{
        position: absolute;
        left:0px;
        width:68%;
        top:10%;
        font-size:70%;
    }
    
    .chart2Radio{
        position: relative;
        margin: 2% 1% 2% 1%;
        display: block;
        orientation: vertical;
        
    }

    #forwardB{
        display:None;
    }

    #backwardB{
        display:None;
        
    }
    
    
    .stepper-container {
        width: 20%;
        height: 10%;
        left:80%;
        bottom: 5%;
        
    }
    
    .stepper{
        position: relative;
        display: block;
        justify-content: center;
        
    }
    
    .stationText{
        font-size: 70%;
    }

    .yearValueText{
        font-size: 100%;

    }

    .yearText{

        font-size: 140%;

    }



}









