body {
    background-color: #3e3e3e;
}

.viz {
    position: relative;
}


.chart1-container{
    width: 100%;
    padding-top: 20%;
    position: relative; 
  
}
.chart1 {

    position: relative;
    top:0px;
    left:0px;
   
}

.chart2-container{
    width: 100%;
    padding-top: 2%;
    position: relative; 
  
}

.chart2 {
    position: relative;
    top:0px;
    left:0px;
}


.input-container {
    display: flex;
    justify-content: center;
}

.rangeInput {

    width: 89%;
    margin: 0 auto;
}

.stationText{
    font-size: 70%;
}