.drawer {

    .MuiPaper-root {
        background: colors('secondary-background');
        color: text-colors('primary')
    }

    &__toggle {
        color: text-colors('primary')
    }

    &__close {
        position: relative;
        margin-left: auto;
        padding: spaces(medium);
        width: min-content;
        color: text-colors('primary')
    }
}