@mixin skill-move-animation($x1, $y1, $x2, $y2, $x3, $y3, $x4, $y4, $duration) {

    animation: skill-move $duration ease-in-out infinite;


    @media (prefers-reduced-motion) {
        animation: none;

    }

    @keyframes skill-move {
        0% {
            transform: translate(0px, 0px);
        }

        20% {
            transform: translate($x1, $y1);
        }

        40% {
            transform: translate($x2, $y2);
        }

        60% {
            transform: translate($x3, $y3)
        }

        80% {
            transform: translate($x4, $y4);
        }

        100% {
            transform: translate(0px, 0px);
        }
    }
}

@mixin skill-dissolve-animation {
    animation: skill-dissolve 4s ease-in-out;

    @keyframes skill-dissolve {
        0% {
            filter: blur(0px) opacity(100%);
        }

        50% {
            filter: blur(5px) opacity(0%);
        }

        100% {
            filter: blur(0px) opacity(100%);
        }
    }
}

@mixin card-animation {
    animation: card-shake 2s ease-in-out infinite;

    @media (prefers-reduced-motion) {
        animation: none;

    }

    @keyframes card-shake {
        0% {
            transform: translateX(0px);
        }

        25% {
            transform: translateX(2px);
        }

        75% {
            transform: translateX(-2px);
        }

        100% {
            transform: translateX(0px);
        }


    }
}