.navigation {
    padding: spaces(mediumlarge) spaces("medium");
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors('sbc');

    &__link {
        padding: spaces("medium");

        color: text-colors('sbc');

        &:hover {
            background: colors('pbc');
            border-radius: 8px;
        }

    }
}