.navigation {
    padding: spaces(mediumlarge) spaces("medium");
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors('secondary-background');
    position: sticky;
    top: 0px;
    z-index: 100;
    border-bottom: 1px solid colors('outline-color');

    &__link {
        padding: spaces("medium");

        color: text-colors('primary');

        &:hover {
            background: colors('primary-background');
            border-radius: 8px;
        }

    }
}