@font-face {
    font-family: 'ChivoMonoRegular';
    src: url('../assets/fonts/Chivo_Mono/static/ChivoMono-Regular.ttf');
}

@font-face {
    font-family: 'MajorMono';
    src: url('../assets/fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}

@font-face {
    font-family: 'ShareTechMono';
    src: url('../assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf');
}



.typo_style_main {
    font-family: 'ChivoMonoRegular';
}

.typo_style_secondary {
    //font-family: 'BungeeShade';
    font-family: 'ShareTechMono'

}

p {
    @extend .typo_style_main;
}

a {
    @extend .typo_style_main;
}

li {
    @extend .typo_style_main;
}

h1,
h2,
h3 {
    @extend .typo_style_secondary;
}


h4 {
    @extend .typo_style_main;
}

h1 {
    font-size: get-rem('40');
}

h2 {
    font-size: get-rem('32');
}

h3 {
    font-size: get-rem('24');
}

h4 {
    font-size: get-rem('20');
}

p {
    font-size: get-rem('16');
}