$space: (
    "small": 8px,
    "medium": 16px,
    "mediumlarge": 24px,
    "large": 32px,
    "xlarge": 40px
);

$cerise: rgba(218, 65, 103, 1);
$english-violet: rgba(72, 58, 88, 1);
$cambridge-blue: rgba(158, 197, 171, 1);
$dark-green: rgba(1, 32, 15, 1);
$ebony: rgba(95, 99, 79, 1);

$screen-size-small: 600px;

$color: (
    'cerise': $cerise,
    'english-violet': $english-violet,
    'cambridge-blue': $cambridge-blue,
    'dark-green': $dark-green,
    'ebony': $ebony
);

$text-color: (
    'cerise': black,
    'english-violet': white,
    'cambridge-blue': white,
    'dark-green': white,
    'ebony': white
);
$font-sizes: (
    '16': 1rem,
    '20': 1.25rem,
    '24': 1.5rem,
    '28': 1.75rem,
    '32': 2rem,
    '36': 2.25rem,
    '40': 2.5rem,
);