.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: text-colors('primary');
    max-width: $page-max-width;

    &__titel {
        margin: spaces(xxlarge) 0px;
    }

    &__bio {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(-225deg,
                colors('secondary-background'),
                colors('tertiary-background'),

            );
        background-size: 200% auto;
        border-radius: 16px;
        padding: spaces(medium);
        margin-bottom: spaces(xlarge);
        filter: drop-shadow(2px 2px 5px black);
    }

    &__img-wrapper {
        max-width: 500px;
    }

    &__bio-section {
        padding: spaces("medium");
        max-width: 50%;

        p {
            white-space: pre-line;
            font-size: get-rem('20');
        }
    }

    &__img {
        width: 100%;
        border-radius: 50%;

        transition: filter 0.3s ease-in-out;
        filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.605));

    }

    &__cv {

        h2,
        h3 {
            margin-bottom: spaces(xlarge);
        }

        li {
            list-style: none;
            margin-bottom: spaces(large);
        }

        div {
            margin-bottom: spaces(xxlarge)
        }
    }

    &__worklife,
    &__education {
        li {
            background-image: linear-gradient(-225deg,
                    colors('secondary-background'),
                    colors('tertiary-background'),

                );
            background-size: 200% auto;
            padding: spaces(medium) spaces(xlarge);
            border-radius: 32px;
            filter: drop-shadow(2px 2px 5px black)
        }
    }

    &__skills {
        width: 75%;


        ul {
            display: flex;
            flex-wrap: wrap;
            gap: spaces(mediumlarge);
            position: relative;
            left: 15%;

            li {
                padding: spaces(small) spaces(medium);
                margin: 0px;
                border-radius: 16px;
                background-image: linear-gradient(-225deg,
                        colors('secondary-background'),
                        colors('tertiary-background'),

                    );
                background-size: 200% auto;
                filter: drop-shadow(2px 2px 5px black)
            }

            $distance: 4px;

            li:nth-child(even) {
                @include skill-move-animation(-$distance, -$distance, -$distance, $distance, $distance, -$distance, -$distance, -$distance, 15.2s);
                animation-delay: 0.5s;

            }

            li:nth-child(odd) {
                @include skill-move-animation($distance, $distance, $distance, -$distance, -$distance, $distance, -$distance, $distance, 20.2s);
            }

            li:nth-child(3n) {
                @include skill-move-animation($distance, -$distance, $distance, $distance, -$distance, $distance, -$distance, -$distance, 10.2s);
                animation-delay: 0.3s;
            }

            li:nth-child(9n) {
                @include skill-move-animation(-$distance, $distance, -$distance, -$distance, $distance, -$distance, $distance, $distance, 12.2s);

            }

            li:last-child {
                animation-delay: 0.8s;

            }
        }
    }
}

@media(max-width: $screen-size-small) {

    .home {

        &__titel {
            max-height: 41px;
            max-width: 80%;
            padding-bottom: spaces(xlarge);
        }

        &__bio {
            flex-direction: column;
            justify-content: initial;
            align-items: center;
        }

        &__bio-section {
            max-width: unset;
        }

        &__img-wrapper {
            max-width: 350px;
        }

        &__cv {
            ul {
                padding: 0px;
            }
        }

        &__worklife,
        &__education {
            li {
                padding: spaces(medium) spaces(mediumlarge);
            }
        }
    }
}