//Global
@import 'style/functions.scss';
@import 'style/animations.scss';
@import 'style/theme.css';
@import 'style/variables.scss';
@import 'style/typography.scss';

//Modules
@import 'style/navigation.scss';


//Pages
@import 'style/home.scss';



.main-container {
    padding: spaces("medium");
    background: colors('primary-background');
    color: text-colors('primary');
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media(max-width: $screen-size-small) {
    .main-container {
        height: initial;
    }

}